* {
  background-color: aliceblue;
  text-align: center;
  margin-top: 5%;
}
h1 {
  color: coral;
  margin-top: 5%;
}
p {
  color: #837474;
  font-size: 16px;
}
a {
  color: #ff9900;
  text-decoration: none;
}
